[submodule "vim/autoload/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/lightline"]
	path = vim/bundle/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/gitbranch"]
	path = vim/bundle/gitbranch
	url = https://github.com/itchyny/vim-gitbranch
	ignore = untracked
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "vim/bundle/NERDTree"]
	path = vim/bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/goyo"]
	path = vim/bundle/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "urxvt/bundle/resize-font"]
	path = urxvt/bundle/resize-font
	url = https://github.com/simmel/urxvt-resize-font
[submodule "urxvt/bundle/matcher-linelimit"]
	path = urxvt/bundle/matcher-linelimit
	url = https://github.com/skielred/urxvt-matcher-linelimit
[submodule "vim/bundle/editorconfig"]
	path = vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/bundle/coc"]
	path = vim/bundle/coc
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/fzf"]
	path = vim/bundle/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/bundle/loupe"]
	path = vim/bundle/loupe
	url = https://github.com/wincent/loupe
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "vim/bundle/jsonc"]
	path = vim/bundle/jsonc
	url = https://github.com/neoclide/jsonc.vim
[submodule "vim/bundle/jinja"]
	path = vim/bundle/jinja
	url = https://github.com/lepture/vim-jinja
