[submodule "vim/autoload/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/commentaru"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/hardmode"]
	path = vim/bundle/hardmode
	url = https://github.com/wikitopian/hardmode
[submodule "vim/bundle/lightline"]
	path = vim/bundle/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/gitbranch"]
	path = vim/bundle/gitbranch
	url = https://github.com/itchyny/vim-gitbranch
[submodule "vim/bundle/cursorword"]
	path = vim/bundle/cursorword
	url = https://github.com/itchyny/vim-cursorword
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "vim/bundle/vimsence"]
	path = vim/bundle/vimsence
	url = https://github.com/MisterPeModder/vimsence
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
